.nav-wizard {
    width: 100%;
}

.nav-wizard>li {
    display: table-cell;
    width: 25%;
}

.nav-wizard>li:first-child>a {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.nav-wizard>li:last-child>a {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.nav-wizard>li.active>a,
.nav-wizard>li.active>a:hover,
.nav-wizard>li.active>a:focus {
    color: #fff;
    background-color: #2D4B6C !important;
    font-family: OpenSans;
    font-weight: 500;
}

.nav-wizard>li.active>a:after {
    border-left-color: #2D4B6C !important;
}

.nav-wizard>li.focus>a,
.nav-wizard>li.focus>a:hover,
.nav-wizard>li.focus>a:focus {
    color: #fff;
    background-color: #EDB400 !important;
    font-family: OpenSans;
    font-weight: 500;
}

.nav-wizard>li.focus>a:after {
    border-left-color: #EDB400 !important;
}

.nav-wizard>li.inactive>a,
.nav-wizard>li.inactive>a:hover,
.nav-wizard>li.inactive>a:focus {
    color: #fff;
    background-color: #BDBDBD !important;
    font-family: OpenSans;
    font-weight: 500;
}

.nav-wizard>li.inactive>a:after {
    border-left-color: #BDBDBD !important;
}

@media (max-width: 768px) {
    .nav-wizard>li:not(:first-child)>a:before {
        border-top: 0px transparent !important;
        border-bottom: 0px inset transparent !important;
    }
    .nav-wizard>li {
        display: list-item;
        float: none !important;
        margin: auto auto 10px auto;
        width: 100%;
    }
    .nav-wizard>li>a {
        border-radius: 4px !important;
    }
    .nav-wizard>li:not(:last-child)>a {
        margin-right: 0px !important;
    }
    .nav-wizard>li:not(:last-child)>a:after {
        border-top: 0px transparent !important;
        border-bottom: 0px transparent !important;
    }
    .nav-wizard>li:not(:first-child)>a {
        padding-left: 15px !important;
    }
}
