<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <section class="step-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="app-step-nav">
                        <app-step-nav [items]="navItems"></app-step-nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.step-nav -->
    <section class="payment-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success info-container text-center ">
                        <div class="title">
                            <h1>Giao dịch thành công</h1>
                        </div>
                        <p>Bạn đã nhận <strong>0.77 DASH</strong> từ <strong>HaoLe</strong></p>
                        <div class="work-break">
                            <p>DASH sẽ được gởi tới: <strong>DVJKSFNDJSKNDJKDKJWELALVJSHFGKJNVDJNVJD</strong></p>
                        </div>
                        <p>DASH sẽ được gởi đi trong: <strong>08:12</strong></p>
                    </div>
                    <!-- /.info-container -->
                </div>
            </div>
        </div>
    </section>

</div>
<!-- /.page-content -->

<footer></footer>
