.page-content {
    min-height: 500px;
}

.app-step-nav {
    margin: 50px auto auto auto;
}

.info-container {
    margin: 20px auto 50px auto;
}

.work-break {
    word-break: break-all;
    white-space: normal;
}

.info-container>.title h1 {
    margin: 30px auto 30px auto;
}

.info-container p {
    margin: 0px auto 0px auto;
}
