.footer-container {
    background-color: #2D4B6C;
    color: #8F99A4;
}

.footer-container h4 {
    color: #FFFFFF;
    font-family: OpenSans;
    font-weight: 300;
    font-size: 18px;
    border-bottom: 1px solid #486E96;
    padding-bottom: 5px;
    margin-top: 50px;
}

.footer-container a,
.footer-container a:visited,
.footer-container a:focus {
    color: #8F99A4;
    font-family: OpenSans;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
}

.footer-container a:hover {
    color: #8F99A4;
    font-family: OpenSans;
    text-decoration: underline;
    font-weight: 200;
    font-size: 14px;
}

.footer-container .col-lg-4 ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 30px;
}

.footer-container .col-lg-4 ul li {
    margin-top: 10px;
}

.footer-container ul li > span {
    margin-left: 10px;
}

.footer-container ul.social-nav {
    list-style-type: none;
    float: right;
    clear: right;
    margin: 30px 0px;
}

.footer-container .copyright-text {
    float: left;
    clear: left;
    margin-top: 40px;
}

.footer-container ul.social-nav li {
    float: right;
    margin-left: 10px;
}

.footer-container .copyright-container {
    margin-top: 90px;
}

.footer-container .legal {
    border-top: 1px solid #486E96;
    display: block;
    clear: both;
    padding-bottom: 30px;
}