<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <section class="step-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="app-step-nav">
                        <app-step-nav [items]="navItems"></app-step-nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.step-nav -->
    <section class="payment-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info info-container">
                        <p>Bạn đang bán <strong>0.77 DASH</strong> cho <strong>HaoLe</strong>. DASH của bạn khoá lại để đảm
                            bảo cho giao dịch này. Sau khi nhận được thanh toán từ người mua, vui lòng xác nhận dưới đây
                            để DASH được giải phóng cho người mua</p>
                    </div>
                    <!-- /.info-container -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger payment-timer text-center" role="alert">
                        <h4>Thời gian còn lại cho người mua trả tiền</h4>
                        <h1>11:59:39</h1>
                        <p><i>Hết thời gian thanh toán giao dịch sẽ bị huỷ và chúng tôi sẽ gởi trả DASH lại cho bạn</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-lg btn-darkblue btn-alternative-blue btn-alert" (click)="onPaymentDoneButtonClicked()">(01:20) Triệu hồi minhnn</button>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- /.page-content -->

<footer></footer>
