.page-content {
    min-height: 500px;
}

.dropdown>button {
    width: 100%;
    text-align: left;
    height: 50px;
    font-family: OpenSans;
    font-weight: 200;
    font-size: 16px;
}

h3 {
    font-family: OpenSans;
    font-weight: 200;
    font-size: 36px;
    color: #333333;
}

.dropdown-menu {
    width: 100%;
}

.input-group {
    width: 100%;
}

.description-label {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 200;
}

.btn-create {
    width: 20%;
    margin: auto auto 50px auto;
}

@media (max-width: 768px) {
    .btn-create {
        margin: auto auto 50px auto;
        width: 100%
    }
}
