.list-container {
    margin: 30px auto auto auto;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 4px;
}

.bs-callout-selling {
    border-left-color: #2D4B6C;
}

.bs-callout-buying {
    border-left-color: #EDB400;
}

.list-title {
    font-family: OpenSans;
    font-weight: 200;
    font-size: 36px;
    color: #333333;
    /*border-bottom: 2px solid #EDB400;*/
}

.list-container {
    font-family: OpenSans;
    color: #333333;
}

.list-container span.currency-unit-buyer {
    color: #468847;
    font-size: 18px;
    font-weight: 300;
}

.list-container span.currency-unit-seller {
    color: #b94a48;
    font-size: 18px;
    font-weight: 300;
}

.list-container span.bank-name {
    font-size: 18px;
    font-weight: 300;
}

.list-container .quantity-title {
    font-size: 16px;
    font-weight: 200;
}

.list-container .quantity {
    font-size: 16px;
    font-weight: 300;
}

.list-container .btn-buy {
    background-color: #FFFFFF;
    color: #2D4B6C;
    border-color: #2D4B6C;
}

.list-container .btn-buy:hover {
    background-color: #2D4B6C;
    color: #FFFFFF;
    border-color: #2D4B6C;
}

.list-container .btn-sell {
    background-color: #FFFFFF;
    color: #EDB400;
    border-color: #EDB400;
}

.list-container .btn-sell:hover {
    background-color: #EDB400;
    color: #FFFFFF;
    border-color: #EDB400;
}