<div class="container list-container">
	<span class="list-title">{{title}}</span>
	<ul>
		<li *ngFor="let item of items">
			<div [ngClass]="(type=='buying')?'bs-callout-buying bs-callout':'bs-callout-selling bs-callout'">
				<div class="row">
					<div class="col-xs-12 col-sm-9">
						<div class="offer-body">
							<span [ngClass]="(type=='buying')?'currency-unit-seller':'currency-unit-buyer'">{{ item.cost }} {{item.currencyUnit}}/{{item.unit}}</span>
							<span class="bank-name">qua {{item.bankName}}</span>
						</div>
						<div class="offer-meta">
							<span class="quantity-title">Tối đa:</span>
							<span class="quantity">{{item.quantity}} {{item.unit}}</span>
						</div>
						<div class="offer-author">
							{{item.author}}
						</div>
					</div>
					<div class="hidden-xs col-sm-3 text-right">
						<button [ngClass]="(type=='buying')?'btn-sell btn':'btn-buy btn'" (click)="onButtonClick()">{{buttonTitle}}</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li>
				<a aria-label="Previous">
					<span aria-hidden="true"><img src="../../../../assets/images/paging-left-arrow.png"></span>
				</a>
			</li>
			<li><a>{{currentPage}}</a></li>
			<li>
				<a aria-label="Next">
					<span aria-hidden="true"><img src="../../../../assets/images/paging-right-arrow.png"></span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<!--/.list-container-->

