<div id="ModalDialog" class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="cancelAction()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>