<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <home-opening [info-buying-cost]="'64.772.238'" [info-selling-cost]="'64.107.850'" (loginClick)="onLoginButtonClick()"></home-opening>
    <app-home-list [title]="'Danh sách người bán'" [buttonTitle]="'MUA'" [type]="'selling'" [items]="sellers" (buyingButtonClick)="onListBuyingButtonClick()"></app-home-list>
    <app-home-list [title]="'Danh sách người mua'" [buttonTitle]="'BÁN'" [type]="'buying'" [items]="buyers" (sellingButtonClick)="onListSellingButtonClick()"></app-home-list>
</div>
<!-- /.page-content -->

<footer></footer>
