<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <section class="section-quantity">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-title">Bán DASH</h3>
                    <div class="form quantity-form">
                        <form>
                            <div class="field form-group row">
                                <label for="quantityDash" class="col-sm-4 control-label info-title-label">Số lượng DASH</label>
                                <div class="input-group col-sm-8 addon-input">
                                    <input type="text" id="quantityDash" name="quantityDash" class="form-control text-box" placeholder="" aria-describedby="basic-addon2">
                                    <span class="input-group-addon">DASH</span>
                                </div>
                            </div>
                            <div class="field form-group row">
                                <label for="quantityDash" class="col-sm-4 control-label info-title-label">Số lượng VND</label>
                                <div class="input-group col-sm-8 addon-input">
                                    <input type="text" id="quantityDash" name="quantityDash" class="form-control text-box" placeholder="" aria-describedby="basic-addon2">
                                    <span class="input-group-addon">VND</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-primary btn-continute" tabindex="16" type="submit" (click)="onButtonContinuteClick()">BÁN DASH</button>
                                </div>
                            </div>
                        </form>
                        <!-- /.section-quantity -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.section-quantity -->
    <section class="section-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-title">Thông tin chi tiết quảng cáo</h3>
                    <div class="ads-info">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="info-title-label" width="40%">Bán cho</td>
                                    <td class="text-box-title-label" width="60%">HaoLe</td>
                                </tr>
                                <tr>
                                    <td class="info-title-label" width="40%">Giá</td>
                                    <td class="text-box-title-label" width="60%">58,249,799 VND/DASH</td>
                                </tr>
                                <tr>
                                    <td class="info-title-label" width="40%">Lượng giới hạn</td>
                                    <td class="text-box-title-label" width="60%">0.09950248 DASH - 6.26981638 DASH</td>
                                </tr>
                                <tr>
                                    <td class="info-title-label" width="40%">Phương thức thanh toán</td>
                                    <td class="text-box-title-label" width="60%">Chuyển khoản ngân hàng: Vietcombank</td>
                                </tr>
                                <tr>
                                    <td class="info-title-label" width="40%">Vị trí</td>
                                    <td class="text-box-title-label" width="60%">Việt Nam</td>
                                </tr>
                                <tr>
                                    <td class="info-title-label" width="40%">Thời gian cho phép thanh toán</td>
                                    <td class="text-box-title-label" width="60%">15 phút</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.section-info -->
</div>
<!-- /.page-content -->

<footer></footer>
