<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <section class="step-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="app-step-nav">
                        <app-step-nav [items]="navItems"></app-step-nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--step-nav-->
    <section class="payment-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info info-container">
                        <p>Vui lòng chuyển <strong>0.77 DASH</strong> vào ví DASH dưới đây để chúng tôi tạm giữ. Giao dịch của
                            bạn với <strong>minhnn</strong> sẽ bắt đầu ngay khi lệnh chuyển có 1 xác thực</p>
                    </div>
                    <!-- /.info-container -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-title">Địa chỉ nạp</h3>
                    <div class="form walled-address-form">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <input type="text" class="form-control text-box walled-address">
                                <img class="walled-address-qrcode" src="../../../assets/images/qrcode-example.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger payment-timer" role="alert">
                        <h4>Thời gian còn lại để thanh toán</h4>
                        <h1>11:59:39</h1>
                        <p><i>Hết thời nạp DASH giao dịch sẽ bị huỷ những lệnh nạp DASH sau đó sẽ được ghi có vào tài khoản của bạn</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-lg btn-alternative btn-alternative-red btn-cancel">HUỶ BỎ GIAO DỊCH</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-info-container">
                        <h3 class="section-title">Thông tin thanh toán</h3>
                        <div class="ads-info">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="info-title-label" width="40%">Phương thức thanh toán</td>
                                        <td class="text-box-title-label" width="60%">Chuyển khoản ngân hàng</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Số tiền phải trả</td>
                                        <td class="text-box-title-label" width="60%">58,249,799 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Tên ngân hàng</td>
                                        <td class="text-box-title-label" width="60%">Vietcombank</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Tên tài khoản</td>
                                        <td class="text-box-title-label" width="60%">LE THIEN HAO</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Số tài khoản</td>
                                        <td class="text-box-title-label" width="60%">0291000322789</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Nội dung chuyển khoản</td>
                                        <td class="text-box-title-label" width="60%">haole mua DASH tu minhnn</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--payment info-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-info-container">
                        <h3 class="section-title">Tóm lược về minhnn</h3>
                        <div class="ads-info">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="info-title-label" width="40%">Đã giao dịch</td>
                                        <td class="text-box-title-label" width="60%">1234.5 DASH</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Lần truy cập cuối</td>
                                        <td class="text-box-title-label" width="60%">một phút trước</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Xác minh thân nhân và cư trú</td>
                                        <td class="text-box-title-label" width="60%">Đã xác minh</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Facebook</td>
                                        <td class="text-box-title-label" width="60%">Chưa xác minh</td>
                                    </tr>
                                    <tr>
                                        <td class="info-title-label" width="40%">Twitter</td>
                                        <td class="text-box-title-label" width="60%">Chưa xác minh</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--buyer infomation -->
        </div>
    </section>
    <!--payment-info-->
</div>
<!-- /.page-content -->

<footer></footer>
<!---->
