.page-content {
    min-height: 500px;
}

.section-login .login-form {
    max-width: 500px;
    margin: 0px auto 30px auto;
}

.section-login-successed .alert-success {
    margin: 100px auto auto auto;
}

