<div class="container-fluid">
    <div class="container">
        <div class="row">
            <section class="opening">
                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-md-9 vcenter">
                            <h4 class="opening-title">BẮT ĐẦU GIAO DỊCH DASH</h4>
                        </div>
                    </div>
                    <div class="row text-center price-content">
                        <div class="col-xs-6">
                            <h4>GIÁ MUA</h4>
                            <span class="buying-cost">{{infoBuyingCost}} VND</span>
                            <br>
                            <button type="button" class="btn btn-alternative-yellow">MUA NHANH</button>
                        </div>
                        <div class="col-xs-6">
                            <h4>GIÁ BÁN</h4>
                            <span class="selling-cost">{{infoSellingCost}} VND</span>
                            <br>
                            <button type="button" class="btn btn-alternative-yellow">BÁN NHANH</button>
                        </div>
                    </div>
                    <!--/.price-content-->
                </div>
                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-md-9 vcenter">
                            <h4 class="opening-title">GIAO DỊCH DASH & TẠO VÍ</h4>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-9 vcenter">
                            <form class="quick-login-email-container" [formGroup]="loginForm">
                                <div class="input-group form-group quick-login-email">
                                    <input type="text" class="form-control text-box" placeholder="Email" required formControlName="email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"
                                                (click)="onLoginButtonClick(loginForm.value, loginForm)">ĐĂNG NHẬP</button>
									</span>
                                </div>
                                <!-- /.input-group -->
                                <div class="alert alert-danger" *ngIf="formErrors.email">
                                    {{ formErrors.email }}
                                </div>
                                <!-- /.error-message -->
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.opening -->
        </div>
    </div>
</div>
