.page-content {
    min-height: 500px;
}

.app-step-nav {
    margin: 50px auto auto auto;
}

.info-container {
    margin: 20px auto 20px auto;
}

.work-break {
    word-break: break-all;
    white-space: normal;
}

.payment-timer {
    text-align: center;
}

.btn-done {
    float: right;
    width: 40%;
}

.btn-cancel {
    width: 40%
}

@media (max-width: 768px) {
    .btn-done {
        float: none;
        margin: auto auto 15px auto;
        width: 100%
    }
    .btn-cancel {
        margin: auto auto 15px auto;
        width: 100%
    }
}
