<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 class="section-title">Điều khoản sử dụng</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#section1">Điều khoản sử dụng</a></li>
                    <li><a href="#section2">Chính sách bảo mật</a></li>
                    <li><a href="#section3">Chính sách giao dịch</a></li>
                </ul>
            </div>
            <!--sidenav-->
            <div class="col-md-9">
                <div class="well well-transparent box-description">
                    <div class="desc-content">
                        <p>Remitano và những chi nhánh (sau đây gọi là "Công ty", "chúng tôi") bao gồm nhưng không giới hạn:
                            chủ sở hữu, giám đốc, các nhà đầu tư, nhân viên hoặc các bên liên quan khác. Tùy thuộc vào bối
                            cảnh, "Remitano" cũng có thể tham khảo các dịch vụ, sản phẩm, trang web, nội dung hoặc các tư
                            liệu khác (gọi chung là "Tư liệu") được cung cấp bởi Remitano. </p>
                        <p>Remitano và các chi nhánh (sau đây gọi là "Remitano", "chúng tôi") đều được cam kết bảo vệ và tôn
                            trọng sự riêng tư của bạn. </p>
                        <p>Chính sách bảo mật này (cùng với điều khoản sử dụng) là cơ sở về việc thu thập, bảo vệ và sử dụng
                            thông tin cá nhân của bạn. Chúng tôi định nghĩa "Thông tin cá nhân" như thông tin nhận dạng cá
                            nhân bạn, ví dụ như tên, địa chỉ, địa chỉ thư điện tử, giao dịch, chi tiết ngân hàng, ... </p>
                        <p>Mục đích của chính sách bảo mật là để thông báo cho bạn:</p>
                        <p></p>
                        <ol>
                            <li>Các loại thông tin cá nhân mà chúng tôi có thể thu thập về bạn và làm thế nào nó có thể được
                                sử dụng;</li>
                            <li>Cách chúng tôi thu thập và sử dụng địa chỉ IP và cookies;</li>
                            <li>Tiết lộ thông tin cá nhân cho bên thứ ba;</li>
                            <li>Khả năng của bạn để sửa, cập nhật và xóa thông tin cá nhân của bạn;</li>
                            <li>Các biện pháp an ninh chúng tôi sử dụng để ngăn chặn sự mất mát, lạm dụng hoặc thay đổi thông
                                tin cá nhân dưới sự kiểm soát của chúng tôi, và </li>
                            <li>Giữ thông tin cá nhân.</li>
                        </ol>
                        <p></p>
                        <h4>THU THẬP VÀ SỬ DỤNG THÔNG TIN CÁ NHÂN</h4>
                        <p>Chúng tôi có thể thu thập thông tin cá nhân của bạn nếu bạn sử dụng các trang web, mở một tài khoản
                            để sử dụng trang web hoặc thực hiện bất kỳ giao dịch trên trang web. Các loại thông tin cá nhân
                            mà chúng tôi thu thập có thể bao gồm: </p>
                        <p></p>
                        <ol>
                            <li>Tên của bạn;</li>
                            <li>Danh tính của bạn, bao gồm một hình ảnh chất lượng cao của chứng minh nhân dân, hộ chiếu;</li>
                            <li>Địa chỉ của bạn;</li>
                            <li>Địa chỉ e-mail của bạn;</li>
                            <li>Vân tay thiết bị (Device fingerprint) của bạn;</li>
                            <li>Chi tiết ngân hàng của bạn bao gồm cả số tài khoản;</li>
                            <li>Ngày sinh của bạn;</li>
                            <li>Ngành nghề của bạn, và</li>
                            <li>Hóa đơn tiện ích của bạn hoặc báo cáo ngân hàng xác nhận địa chỉ cư trú của bạn.</li>
                        </ol>
                        <p></p>
                        <h4>CHÚNG TÔI CÓ THỂ SỬ DỤNG THÔNG TIN CÁ NHÂN CỦA BẠN CHO CÁC MỤC ĐÍCH:</h4>
                        <p></p>
                        <ol>
                            <li>Để cá nhân hoá trải nghiệm của bạn (thông tin của bạn sẽ giúp chúng tôi đáp ứng tốt hơn nhu cầu
                                cá nhân của bạn);</li>
                            <li>Để cải thiện trang web của chúng tôi (chúng tôi liên tục cố gắng để cải thiện các dịch vụ trang
                                web của chúng tôi dựa trên các thông tin và phản hồi chúng tôi nhận được từ bạn); </li>
                            <li>Phân tích sử dụng trang web của chúng tôi;</li>
                            <li>Để cải thiện dịch vụ khách hàng (thông tin của bạn sẽ giúp chúng tôi hiệu quả hơn đáp ứng yêu
                                cầu dịch vụ khách hàng của bạn và nhu cầu hỗ trợ); </li>
                            <li>Xác minh danh tính của bạn với nhà cung cấp nhận dạng điện tử của chúng tôi để tuân theo các
                                chính sách chống rửa tiền. </li>
                            <li>Để xử lý các giao dịch. Thông tin của bạn, dù công hay tư, sẽ không được bán, trao đổi, hoặc
                                cho bất kỳ công ty nào khác đối với bất kỳ lý do gì mà không có sự đồng ý của bạn; </li>
                            <li>Để gửi email định kỳ. Địa chỉ email mà bạn cung cấp có thể được sử dụng để gửi cho bạn thông
                                tin và cập nhật liên quan đến đơn đặt hàng hoặc yêu cầu của bạn, ngoài việc nhận được tin
                                công ty thường xuyên, cập nhật, chương trình khuyến mãi, sản phẩm hoặc dịch vụ liên quan
                                đến thông tin, ... </li>
                            <li>Để quản lý các cuộc thi, khuyến mại, khảo sát, tính năng trang web khác.</li>
                        </ol>
                        <p></p>
                        <p>Chúng tôi sẽ xử lý thông tin cá nhân của bạn chỉ với mục đích mà nó đã được cung cấp cho chúng tôi.</p>
                        <h4>COOKIES</h4>
                        <p>Các trang web Remitano đang sử dụng cookies. Cookies là các tập tin văn bản nhỏ được đặt trên máy
                            tính của bạn bởi các trang web mà bạn truy cập. Chúng được sử dụng rộng rãi để làm cho trang
                            web làm việc, hoặc làm việc hiệu quả hơn, cũng như cung cấp thông tin cho chủ sở hữu của trang
                            web. </p>
                        <p>Cookies được lưu trữ trên ổ cứng của máy tính. Thông tin thu thập từ các tập tin cookies được sử
                            dụng bởi chúng tôi để đánh giá hiệu quả của các trang web của chúng tôi, phân tích xu hướng,
                            và quản lý trang web. Thông tin thu thập từ các tập tin cookies cho phép chúng tôi xác định những
                            thứ như phần nào của trang web được truy cập nhiều nhất và những khó khăn mà khách hàng của chúng
                            tôi có thể gặp trong việc tiếp cận trang web. Với kiến thức này, chúng tôi có thể nâng cao chất
                            lượng trải nghiệm của bạn trên nền tảng bằng cách công nhận và cung cấp nhiều hơn các tính năng
                            mong muốn nhất, cũng như giải quyết các khó khăn truy cập. </p>
                        <p>Chúng tôi sử dụng nhà cung cấp dịch vụ của bên thứ ba để giúp chúng tôi hiểu rõ hơn việc sử dụng
                            các trang web. Nhà cung cấp dịch vụ sẽ đặt các tập tin cookies trên ổ đĩa cứng của máy tính bạn
                            và sẽ nhận được thông tin mà chúng tôi lựa chọn. Nhà cung cấp dịch vụ của chúng tôi phân tích
                            thông tin này và cung cấp cho chúng tôi với các báo cáo tổng hợp. Các thông tin và phân tích
                            được cung cấp bởi nhà cung cấp dịch vụ sẽ được sử dụng để trợ giúp chúng tôi hiểu biết tốt hơn
                            lợi ích khách hàng và làm thế nào để phục vụ tốt hơn. Thông tin thu thập bởi nhà cung cấp dịch
                            vụ có thể được liên kết đến và kết hợp với thông tin mà chúng tôi thu thập về bạn trong khi bạn
                            đang sử dụng trang web. </p>
                        <p>Bằng cách sử dụng trang web của chúng tôi bạn đồng ý rằng chúng tôi có thể sử dụng các cookies cho
                            các mục đích nêu trên. </p>
                        <h4>CÔNG BỐ THÔNG TIN CÁ NHÂN</h4>
                        <p>Chúng tôi sử dụng thông tin cá nhân cho các mục đích nêu tại thời điểm bạn cung cấp cho chúng tôi
                            thông tin đó, và/hoặc cho các mục đích đặt ra trong chính sách bảo mật này và/hoặc được pháp
                            luật cho phép. </p>
                        <p>Bạn thừa nhận rằng bằng cách sử dụng dịch vụ của chúng tôi và sự chấp nhận của bạn về điều khoản
                            sử dụng, bạn sẽ cung cấp cho chúng tôi thông tin cá nhân về bạn. Bạn bằng lòng cho chúng tôi
                            tiết lộ thông tin mà chúng tôi được yêu cầu của pháp luật cho bên thứ ba cho mục đích nhận dạng
                            điện tử như đã nêu ở trên. </p>
                        <p>Sẽ không có thông tin cá nhân nào có thể được cung cấp cho các bên khác để tiếp thị, quảng cáo, hoặc
                            sử dụng khác.</p>
                        <p>Bất kỳ bên thứ ba nhận được hoặc có quyền truy cập vào thông tin cá nhân sẽ được yêu cầu của chúng
                            tôi để bảo vệ thông tin cá nhân như vậy và sử dụng nó chỉ để thực hiện các dịch vụ mà họ đang
                            thực hiện cho bạn hoặc cho Bitcoin Vietnam, trừ trường hợp cần thiết hoặc pháp luật cho phép
                            . Chúng tôi sẽ đảm bảo rằng bất kỳ bên thứ ba nào cũng sẽ có các nghĩa vụ của chúng tôi theo
                            chính sách bảo mật. </p>
                        <h4>LIÊN KẾT ĐẾN BÊN THỨ BA</h4>
                        <p>Thỉnh thoảng, theo quyết định của chúng tôi, chúng tôi có thể bao cung cấp sản phẩm hoặc dịch vụ
                            của bên thứ ba trên trang web của chúng tôi. Các trang web của bên thứ ba có chính sách bảo mật
                            riêng biệt và độc lập. Chúng tôi khuyến khích bạn xem lại tất cả các chính sách, các quy tắc,
                            điều khoản và quy định, bao gồm các chính sách bảo mật, của mỗi trang web mà bạn truy cập. Tuy
                            nhiên, chúng tôi sẽ tìm cách bảo vệ sự toàn vẹn của trang web và hoan nghênh bất kỳ thông tin
                            phản hồi về các trang web đó. </p>
                        <p>Chúng tôi không kiểm soát các trang web bên thứ ba hoặc bất kỳ nội dung chứa đựng trong đó và bạn
                            đồng ý rằng chúng tôi không chịu trách nhiệm hoặc chịu trách nhiệm về bất kỳ của các trang web
                            của bên thứ ba, bao gồm nhưng không giới hạn, nội dung, chính sách, thất bại, chương trình khuyến
                            mãi, sản phẩm của họ, dịch vụ hoặc hành động và/hoặc bất kỳ thiệt hại, mất mát, thất bại hoặc
                            các vấn đề gây ra bởi, liên quan đến hoặc phát sinh từ các trang web đó. </p>
                        <h4>SỬA CHỮA/CẬP NHẬT/XÓA THÔNG TIN CÁ NHÂN</h4>
                        <p>Bạn có quyền truy cập vào thông tin cá nhân của bạn và yêu cầu điều chỉnh, cập nhật và ngăn chặn
                            các dữ liệu không chính xác và/hoặc không chính xác bằng cách gửi email cho chúng tôi tại địa
                            chỉ: <a href="mailto:support@remitano.com">support@remitano.com</a>. Remitano sẽ hành động theo
                            yêu cầu của bạn chỉ trong trường hợp nào dữ liệu thu thập không phù hợp với điều khoản sử dụng,
                            nghĩa vụ pháp lý và điều hành. </p>
                        <p>Khi có yêu cầu bằng văn bản của bạn, chúng tôi sẽ cung cấp cho bạn các thông tin cá nhân liên quan
                            đến bạn mà chúng tôi có và việc sử dụng và tiết lộ thông tin cá nhân của bạn. </p>
                        <h4>AN NINH</h4>
                        <p>Chúng tôi đã thực hiện các biện pháp an ninh để đảm bảo bí mật thông tin cá nhân của bạn khỏi mất
                            mát, lạm dụng, thay đổi hoặc phá hủy. </p>
                        <p>Chúng tôi thực hiện một loạt các biện pháp an ninh để duy trì sự an toàn của thông tin cá nhân của
                            bạn khi bạn gửi một yêu cầu, đặt hàng hoặc truy cập thông tin cá nhân của bạn. Các biện pháp
                            an ninh bao gồm: mật khẩu bảo vệ thư mục và cơ sở dữ liệu để bảo vệ thông tin của bạn, SSL (Secure
                            Sockets Layer) để đảm bảo rằng thông tin của bạn là hoàn toàn mã hóa và gửi qua mạng Internet
                            một cách an toàn hoặc phần mềm quét máy chủ PCI để chủ động bảo vệ máy chủ từ tin tặc và các
                            lỗ hổng khác. Chúng tôi cung cấp việc sử dụng một máy chủ an toàn . Tất cả các thông tin nhạy
                            cảm/tín dụng cung cấp được truyền qua công nghệ SSL và sau đó mã hóa thành cơ sở dữ liệu của
                            chúng tôi được chỉ được truy cập bởi những người được ủy quyền có quyền tiếp cận đặc biệt với
                            các hệ thống của chúng tôi, và được yêu cầu để giữ cho các thông tin bí mật. </p>
                        <p>Chỉ những nhân viên có thẩm quyền của Việt Nam Bitcoin có thể truy cập thông tin cá nhân của bạn,
                            và các nhân viên được yêu cầu phải xử lý thông tin một cách bí mật. Các biện pháp an ninh tại
                            chỗ sẽ, theo thời gian, được xem xét phù hợp với sự phát triển pháp lý và kỹ thuật. </p>
                        <h4>LƯU GIỮ THÔNG TIN CÁ NHÂN</h4>
                        <p>Chúng tôi sẽ giữ thông tin cá nhân của bạn chỉ cho đến khi nó là cần thiết để chúng tôi làm như vậy,
                            có liên quan đến các mục đích được mô tả trong chính sách bảo mật và nghĩa vụ pháp lý của chúng
                            ta. Để phù hợp với nghĩa vụ lưu giữ hồ sơ của, chúng tôi sẽ giữ lại tài khoản và thông tin cá
                            nhân ít nhất là trong thời hạn 5 năm sau khi được đóng bởi người sử dụng. </p>
                        <h4>THAY ĐỔI</h4>
                        <p>Chính sách trang web, nội dung, thông tin, chương trình khuyến mãi, tiết lộ, và các tính năng khác
                            có thể được điều chỉnh, sửa đổi, cập nhật, và/hoặc bổ sung bất cứ lúc nào mà không cần báo trước.
                            Nếu chúng tôi thay đổi chính sách bảo mật, chúng tôi sẽ thực hiện các bước để thông báo cho tất
                            cả người dùng bởi một thông báo trên trang web và sẽ đăng các Chính sách bảo mật sửa đổi trên
                            trang web. </p>
                        <h4>ĐỊNH NGHĨA</h4>
                        <p>Thông tin cá nhân: thông tin nhận diện cá nhân bạn và được thu thập và sử dụng bởi Remitano như đã
                            được quy định trong chính sách bảo mật này và/hoặc được pháp luật cho phép. </p>
                        <p>Tài khoản: truy cập được cấp cho các thành viên được quy định trong Điều khoản sử dụng.</p>
                        <p>Nền tảng: công nghệ phần cứng và phần mềm được sử dụng bởi Remitano để cung cấp dịch vụ được quy
                            định trong điều khoản sử dụng. </p>
                        <p>Giao dịch: là (i) thỏa thuận giữa người mua và người bán để trao đổi Bitcoin thông qua Dịch vụ tiền
                            tệ tỉ giá nhất định ("Giao dịch Bitcoin"), (ii) việc chuyển đổi của đồng tiền vào Bitcoin gửi
                            bởi thành viên trên tài khoản của họ ("giao dịch chuyển đổi" ), (iii) việc chuyển giao Bitcoin
                            giữa các thành viên ("Bitcoin chuyển giao dịch"), (iv) di chuyển tiền tệ giữa các thành viên
                            ( "Giao dịch đổi tiền tệ" ) và (v) mua các sản phẩm phụ trợ ("Giao dịch mua"). Remitano có thể
                            không cung cấp tất cả các loại giao dịch tại thời điểm này hoặc trong tất cả mọi nơi. </p>
                        <h4>LIÊN HỆ</h4>
                        <p>Nếu bạn có bất kỳ câu hỏi, ý kiến, hoặc quan tâm về chính sách và/hoặc thực thi mà có liên quan đến
                            nền tảng, xin vui lòng liên hệ với chúng tôi tại địa chỉ e-mail sau: <a href="mailto:support@remitano.com">support@remitano.com</a>.
                        </p>
                    </div>
                    <!--desc-content-->
                </div>
                <!--box-description-->
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->

<footer></footer>
