.sidenav {
    height: 100%;
}

.nav-stacked>li+li {
    margin-top: -1px;
}

.sidenav>ul>li>a {
    border: 1px solid #dddddd;
    border-radius: 0px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #355679;
}

.sidenav>ul>li:first-child>a {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.sidenav>ul>li:last-child>a {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.well-transparent {
    background-color: transparent !important;
}

.desc-content {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

@media screen and (max-width: 768px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
}
