<!DOCTYPE html>
<app-nav-bar [user-name]="'HAOLE'"></app-nav-bar>

<!-- Page Content -->
<div class="page-content">
    <section class="section-enter-phone">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-container">
                        <h3 class="section-title">Khởi tạo giao dịch</h3>
                        <div class="alert alert-info enter-phone-alert" role="alert">
                            Số điện thoại là bắt buộc để giao dịch DASH. Vui lòng nhập số điện thoại
                        </div>
                        <div class="section-input">
                            <form class="enter-phone-form" [formGroup]="inputPhoneForm">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+84 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="">+85</a></li>
                                                <li><a href="">+86</a></li>
                                                <li><a href="">+87</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="">+90</a></li>
                                            </ul>
                                        </div>
                                        <!-- /btn-group -->
                                        <input type="text" class="form-control text-box" required id="phone" formControlName="phone">
                                    </div>
                                    <!-- /input-group -->
                                    <div class="alert alert-danger" *ngIf="formErrors.phone">
                                        {{ formErrors.phone }}
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-continute" (click)="onContinueButtonClicked(inputPhoneForm.value, inputPhoneForm)">TIẾP TỤC</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---./section-enter-phone-->
</div>
<!-- /.page-content -->

<footer></footer>
