.enter-phone-alert {
    max-width: 500px;
    margin: auto auto 50px auto;
}

.enter-phone-form {
    max-width: 500px;
    margin: auto auto 50px auto;
}

.enter-phone-form > .input-group {
    margin: auto auto 20px auto;
}

.enter-phone-form .input-group-btn > button {
    height: 50px;
    font-family: OpenSans;
    font-weight: 300;
    font-size: 16px !important;
    color: #333333 !important;
}

.btn-continute {
    width: 100%;
}